html::-webkit-scrollbar {
  display: none;
}
body {
  color: var(--LightText);
  margin: 0;
  display: flex;
  place-items: start;
  justify-content: flex-start;
  flex-direction: column;
  background-color: #fff;
  position: relative;
}

a {
  font-weight: 500;
}

.btn-primary {
  display: flex;
  width: 100%;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border: none;
  height: 52px;

  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  color: var(--LightText);
  background-color: var(--accent-color);

  cursor: pointer;
  transition: all var(--base-transition);
}

.btn-primary:hover {
  background-color: var(--primary-text);
  color: var(--LightText);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.is-hidden {
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
}

body.modal-open {
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .btn-primary {
    max-width: 394px;
    height: 56px;
    font-size: 20px;
  }
}
@media screen and (min-width: 1440px) {
  .btn-primary {
    width: 575px;
    height: 69px;
    font-size: 24px;
  }
}
