<div class="splide__track" style="width: 100%">
  <div
    class="gallery-list splide__list"
    data-aos="fade-down"
    data-aos-offset="100"
    data-aos-easing="cubic-bezier(0.4, 0, 0.2, 1)"
    role="group"
  >
    <!-- 1 -->
    <div class="gallery-item splide__slide">
      <a
        class="prw-image"
        data-media="(max-width: 767px);(max-width: 1439px) and (min-width: 768px);(min-width:1440px)"
        data-sources="/mountain-tours/mob-gallerygal@2x.jpg;/mountain-tours/tab-gallerygal@2x.jpg;/mountain-tours/dsk-gallerygal@2x.jpg"
        href="/mountain-tours/dsk-gallerygal@2x.jpg"
        data-fancybox="gallery"
      >
        <picture>
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/photos/gallery/sm-mob/gallerymob-4.jpg    1x,
              ./img/photos/gallery/sm-mob/gallerymob@2x-4.jpg 1x
            "
          />
          <source
            media="(max-width: 1439px) and (min-width: 768px)"
            srcset="
              ./img/photos/gallery/sm-tabl/gallerytabl-4.jpg    1x,
              ./img/photos/gallery/sm-tabl/gallerytabl@2x-4.jpg 2x
            "
          />
          <source
            media="(min-width: 1440px)"
            srcset="./img/photos/gallery/sm-dsk/gallerygal-4.jpg"
          />
          <img
            src="./img/photos/gallery/sm-dsk/gallerygal-4.jpg"
            alt="gallery photo item"
          />
        </picture>
      </a>
    </div>
    <!-- 2 -->
    <div class="gallery-item splide__slide">
      <a
        class="prw-image"
        data-media="(max-width: 767px);(max-width: 1439px) and (min-width: 768px);(min-width:1440px)"
        data-sources="/mountain-tours/mob-gallerygal@2x-1.jpg;/mountain-tours/tab-gallerygal@2x-1.jpg;/mountain-tours/dsk-gallerygal@2x-1.jpg"
        href="/mountain-tours/dsk-gallerygal@2x-1.jpg"
        data-fancybox="gallery"
      >
        <picture>
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/photos/gallery/sm-mob/gallerymob-5.jpg    1x,
              ./img/photos/gallery/sm-mob/gallerymob@2x-5.jpg 1x
            "
          />
          <source
            media="(max-width: 1439px) and (min-width: 768px)"
            srcset="
              ./img/photos/gallery/sm-tabl/gallerytabl-5.jpg    1x,
              ./img/photos/gallery/sm-tabl/gallerytabl@2x-5.jpg 2x
            "
          />
          <source
            media="(min-width: 1440px)"
            srcset="./img/photos/gallery/sm-dsk/gallerygal-5.jpg"
          />
          <img
            src="./img/photos/gallery/sm-dsk/gallerygal-5.jpg"
            alt="gallery photo item"
          />
        </picture>
      </a>
    </div>
    <!-- 3 -->
    <div class="gallery-item splide__slide">
      <a
        class="prw-image"
        data-media="(max-width: 767px);(max-width: 1439px) and (min-width: 768px);(min-width:1440px)"
        data-sources="/mountain-tours/mob-gallerygal@2x-2.jpg;/mountain-tours/tab-gallerygal@2x-2.jpg;/mountain-tours/dsk-gallerygal@2x-2.jpg"
        href="/mountain-tours/dsk-gallerygal@2x-2.jpg"
        data-fancybox="gallery"
      >
        <picture>
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/photos/gallery/sm-mob/gallerymob-7.jpg    1x,
              ./img/photos/gallery/sm-mob/gallerymob@2x-7.jpg 1x
            "
          />
          <source
            media="(max-width: 1439px) and (min-width: 768px)"
            srcset="
              ./img/photos/gallery/sm-tabl/gallerytabl-7.jpg    1x,
              ./img/photos/gallery/sm-tabl/gallerytabl@2x-7.jpg 2x
            "
          />
          <source
            media="(min-width: 1440px)"
            srcset="./img/photos/gallery/sm-dsk/gallerygal-7.jpg"
          />
          <img
            src="./img/photos/gallery/sm-dsk/gallerygal-7.jpg"
            alt="gallery photo item"
          />
        </picture>
      </a>
    </div>
    <!-- 4 -->
    <div class="gallery-item splide__slide">
      <a
        class="prw-image"
        data-media="(max-width: 767px);(max-width: 1439px) and (min-width: 768px);(min-width:1440px)"
        data-sources="/mountain-tours/mob-gallerygal@2x-3.jpg;/mountain-tours/tab-gallerygal@2x-3.jpg;/mountain-tours/dsk-gallerygal@2x-3.jpg"
        href="/mountain-tours/dsk-gallerygal@2x-3.jpg"
        data-fancybox="gallery"
      >
        <picture>
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/photos/gallery/sm-mob/gallerymob-6.jpg    1x,
              ./img/photos/gallery/sm-mob/gallerymob@2x-6.jpg 1x
            "
          />
          <source
            media="(max-width: 1439px) and (min-width: 768px)"
            srcset="
              ./img/photos/gallery/sm-tabl/gallerytabl-6.jpg    1x,
              ./img/photos/gallery/sm-tabl/gallerytabl@2x-6.jpg 2x
            "
          />
          <source
            media="(min-width: 1440px)"
            srcset="./img/photos/gallery/sm-dsk/gallerygal-6.jpg"
          />
          <img
            src="./img/photos/gallery/sm-dsk/gallerygal-6.jpg"
            alt="gallery photo item"
          />
        </picture>
      </a>
    </div>
    <!-- 5 -->
    <div class="gallery-item splide__slide">
      <a
        class="prw-image"
        data-media="(max-width: 767px);(max-width: 1439px) and (min-width: 768px);(min-width:1440px)"
        data-sources="/mountain-tours/mob-gallerygal@2x-4.jpg;/mountain-tours/tab-gallerygal@2x-4.jpg;/mountain-tours/dsk-gallerygal@2x-4.jpg"
        href="/mountain-tours/dsk-gallerygal@2x-4.jpg"
        data-fancybox="gallery"
      >
        <picture>
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/photos/gallery/sm-mob/gallerymob-1.jpg    1x,
              ./img/photos/gallery/sm-mob/gallerymob@2x-1.jpg 1x
            "
          />
          <source
            media="(max-width: 1439px) and (min-width: 768px)"
            srcset="
              ./img/photos/gallery/sm-tabl/gallerytabl-1.jpg    1x,
              ./img/photos/gallery/sm-tabl/gallerytabl@2x-1.jpg 2x
            "
          />
          <source
            media="(min-width: 1440px)"
            srcset="./img/photos/gallery/sm-dsk/gallerygal-1.jpg"
          />
          <img
            src="./img/photos/gallery/sm-dsk/gallerygal-1.jpg"
            alt="gallery photo item"
          />
        </picture>
      </a>
    </div>
    <!-- 6 -->
    <div class="gallery-item splide__slide">
      <a
        class="prw-image"
        data-media="(max-width: 767px);(max-width: 1439px) and (min-width: 768px);(min-width:1440px)"
        data-sources="/mountain-tours/mob-gallerygal@2x-5.jpg;/mountain-tours/tab-gallerygal@2x-5.jpg;/mountain-tours/dsk-gallerygal@2x-5.jpg"
        href="/mountain-tours/dsk-gallerygal@2x-5.jpg"
        data-fancybox="gallery"
      >
        <picture>
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/photos/gallery/sm-mob/gallerymob.jpg    1x,
              ./img/photos/gallery/sm-mob/gallerymob@2x.jpg 1x
            "
          />
          <source
            media="(max-width: 1439px) and (min-width: 768px)"
            srcset="
              ./img/photos/gallery/sm-tabl/gallerytabl.jpg    1x,
              ./img/photos/gallery/sm-tabl/gallerytabl@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 1440px)"
            srcset="./img/photos/gallery/sm-dsk/gallerygal.jpg"
          />
          <img
            src="./img/photos/gallery/sm-dsk/gallerygal.jpg"
            alt="gallery photo item"
          />
        </picture>
      </a>
    </div>
    <!-- 7 -->
    <div class="gallery-item splide__slide">
      <a
        class="prw-image"
        data-media="(max-width: 767px);(max-width: 1439px) and (min-width: 768px);(min-width:1440px)"
        data-sources="/mountain-tours/mob-gallerygal@2x-6.jpg;/mountain-tours/tab-gallerygal@2x-6.jpg;/mountain-tours/dsk-gallerygal@2x-6.jpg"
        href="/mountain-tours/dsk-gallerygal@2x-6.jpg"
        data-fancybox="gallery"
      >
        <picture>
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/photos/gallery/sm-mob/gallerymob-2.jpg    1x,
              ./img/photos/gallery/sm-mob/gallerymob@2x-2.jpg 1x
            "
          />
          <source
            media="(max-width: 1439px)  and (min-width: 768px)"
            srcset="
              ./img/photos/gallery/sm-tabl/gallerytabl-2.jpg    1x,
              ./img/photos/gallery/sm-tabl/gallerytabl@2x-2.jpg 2x
            "
          />
          <source
            media="(min-width: 1440px)"
            srcset="./img/photos/gallery/sm-dsk/gallerygal-2.jpg"
          />
          <img
            src="./img/photos/gallery/sm-dsk/gallerygal-2.jpg"
            alt="gallery photo item"
          />
        </picture>
      </a>
    </div>
    <!-- 8 -->
    <div class="gallery-item splide__slide">
      <a
        class="prw-image"
        data-media="(max-width: 767px);(max-width: 1439px) and (min-width: 768px);(min-width:1440px)"
        data-sources="/mountain-tours/mob-gallerygal@2x-7.jpg;/mountain-tours/tab-gallerygal@2x-7.jpg;/mountain-tours/dsk-gallerygal@2x-7.jpg"
        href="/mountain-tours/dsk-gallerygal@2x-7.jpg"
        data-fancybox="gallery"
      >
        <picture>
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/photos/gallery/sm-mob/gallerymob-3.jpg    1x,
              ./img/photos/gallery/sm-mob/gallerymob@2x-3.jpg 1x
            "
          />
          <source
            media="(max-width: 1439px)  and (min-width: 768px)"
            srcset="
              ./img/photos/gallery/sm-tabl/gallerytabl-3.jpg    1x,
              ./img/photos/gallery/sm-tabl/gallerytabl@2x-3.jpg 2x
            "
          />
          <source
            media="(min-width: 1440px)"
            srcset="./img/photos/gallery/sm-dsk/gallerygal-3.jpg"
          />
          <img
            src="./img/photos/gallery/sm-dsk/gallerygal-3.jpg"
            alt="gallery photo item"
          />
        </picture>
      </a>
    </div>
  </div>
</div>
<div class="slider-arrows">
  <div  class="slider-arrow left">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="40"
      height="40"
      viewBox="0 0 40 40"
    >
      <path
        d="M15.2559 33C15.5869 32.9956 15.9042 32.8694 16.1456 32.6462L28.6339 20.3413C28.8684 20.108 29 19.7929 29 19.4645C29 19.1362 28.8684 18.8211 28.6339 18.5878L16.1456 6.28282C15.903 6.0866 15.595 5.98633 15.2814 6.0015C14.9679 6.01667 14.6713 6.14621 14.4494 6.36491C14.2274 6.58361 14.0959 6.87584 14.0805 7.18476C14.0652 7.49368 14.1669 7.7972 14.3661 8.03628L25.9802 19.4645L14.3661 30.8928C14.1316 31.1261 14 31.4411 14 31.7695C14 32.0979 14.1316 32.4129 14.3661 32.6462C14.6075 32.8694 14.9249 32.9956 15.2559 33Z"
      />
    </svg>
  </div>
  <div   class="slider-arrow right">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="40"
      height="40"
      viewBox="0 0 40 40"
    >
      <path
        d="M15.2559 33C15.5869 32.9956 15.9042 32.8694 16.1456 32.6462L28.6339 20.3413C28.8684 20.108 29 19.7929 29 19.4645C29 19.1362 28.8684 18.8211 28.6339 18.5878L16.1456 6.28282C15.903 6.0866 15.595 5.98633 15.2814 6.0015C14.9679 6.01667 14.6713 6.14621 14.4494 6.36491C14.2274 6.58361 14.0959 6.87584 14.0805 7.18476C14.0652 7.49368 14.1669 7.7972 14.3661 8.03628L25.9802 19.4645L14.3661 30.8928C14.1316 31.1261 14 31.4411 14 31.7695C14 32.0979 14.1316 32.4129 14.3661 32.6462C14.6075 32.8694 14.9249 32.9956 15.2559 33Z"
      />
    </svg>
  </div>
</div>
