<ul class="link-bar">
  <li>
    <a href="https://t.me/NovikovMyhkailo" target="_blank" rel="noopener noreferrer" title="Telegram">
      <svg class="link-bar_icon" width="40" height="40">
        <use href="./img/icons-sprite.svg#telegram"></use>
      </svg>
    </a>
  </li>
  <li>
    <a href="https://www.instagram.com/novikovmikhail85/" target="_blank" rel="noopener noreferrer" title="Instagram">
      <svg class="link-bar_icon" width="40" height="40">
        <use href="./img/icons-sprite.svg#insta"></use>
      </svg>
    </a>
  </li>
  <li>
    <a href="https://www.linkedin.com/in/mykhailonovicov" target="_blank" rel="noopener noreferrer" title="Facebook">
      <svg class="link-bar_icon" width="40" height="40">
        <use href="./img/icons-sprite.svg#fb"></use>
      </svg>
    </a>
  </li>
</ul>
