<nav class="header-nav">
    <ul class="header-nav-list">
      <li class="header-nav-item" data-aos="fade-right" data-aos-duration="800">
        <a class="header-nav-link" href="#about">About us</a>
      </li>
      <li class="header-nav-item" data-aos="fade-left" data-aos-duration="800">
        <a class="header-nav-link" href="#tours">Tours</a>
      </li>
      <li class="header-nav-item" data-aos="fade-right" data-aos-duration="800">
        <a class="header-nav-link" href="#reviews">Reviews</a>
      </li>
      <li class="header-nav-item" data-aos="fade-left" data-aos-duration="800">
        <a class="header-nav-link" href="#gallery">Gallery</a>
      </li>
      <li class="header-nav-item" data-aos="fade-right" data-aos-duration="800">
        <a class="header-nav-link" href="#contacts">Contacts</a>
      </li>
    </ul>
  </nav>