<ul class="footer_list">
  <li class="footer_list-items" data-aos="fade-down"  data-aos-anchor-placement="top-bottom" data-aos-offset="100" data-aos-easing="cubic-bezier(0.4, 0, 0.2, 1)" data-aos-delay="0">
    <a href="https://maps.app.goo.gl/i6v84pHhpiVeGks46" target="_blank" rel="noopener noreferrer">
      <svg class="socials-icon" width="40" height="40">
        <use href="../../img/icons-sprite.svg#place"></use>
      </svg>
      <p class="list-value">Lviv, st. Doroshenko, 44 ​​k</p>
    </a>
  </li>
  <li class="footer_list-items" data-aos="fade-down"  data-aos-anchor-placement="bottom" data-aos-offset="100" data-aos-easing="cubic-bezier(0.4, 0, 0.2, 1)" data-aos-delay="50">
    <a href="tel:063-716-9960" target="_blank" rel="noopener noreferrer">
      <svg class="socials-icon" width="40" height="40">
        <use href="../../img/icons-sprite.svg#mobile-icon"></use>
      </svg>
      <p class="list-value">+38 (097) 162-60-90</p>
    </a>
  </li>
  <li class="footer_list-items" data-aos="fade-down"  data-aos-anchor-placement="bottom"  data-aos-easing="cubic-bezier(0.4, 0, 0.2, 1)" data-aos-delay="100">
    <a href="mailto:mandrykarpaty@gmail.com" target="_blank" rel="noopener noreferrer">
      <svg class="socials-icon" width="40" height="40">
        <use href="../../img/icons-sprite.svg#mail"></use>
      </svg>
      <p class="list-value">mandrykarpaty@gmail.com</p>
    </a>
  </li>
  <li class="footer_list-items" data-aos="fade-down"  data-aos-anchor-placement="top-bottom"   data-aos-easing="cubic-bezier(0.4, 0, 0.2, 1)" data-aos-delay="150">
    <ul class="footer-icons-bar"  data-aos-anchor-placement="bottom" data-aos="fade-left"  data-aos-easing="cubic-bezier(0.4, 0, 0.2, 1)" data-aos-delay="200">
      <li data-aos="fade-left"  data-aos-anchor-placement="bottom" data-aos-offset="100" data-aos-easing="cubic-bezier(0.4, 0, 0.2, 1)" data-aos-delay="250">
        <a href="https://t.me/NovikovMyhkailo" target="_blank" rel="noopener noreferrer" title="Telegram">
          <svg class="socials-icon bottom-icons" width="100%" height="100%">
            <use href="../../img/icons-sprite.svg#telegram"></use>
          </svg>
        </a>
      </li>
      <li data-aos="fade-left"  data-aos-anchor-placement="top-bottom" data-aos-offset="100" data-aos-easing="cubic-bezier(0.4, 0, 0.2, 1)" data-aos-delay="300">
        <a href="https://www.instagram.com/novikovmikhail85/" target="_blank" rel="noopener noreferrer" title="Instagram">
          <svg class="socials-icon bottom-icons" width="100%" height="100%">
            <use href="../../img/icons-sprite.svg#insta"></use>
          </svg>
        </a>
      </li>
      <li data-aos="fade-left"  data-aos-anchor-placement="top-bottom" data-aos-offset="100" data-aos-easing="cubic-bezier(0.4, 0, 0.2, 1)" data-aos-delay="350">
        <a href="https://www.linkedin.com/in/mykhailonovicov" target="_blank" rel="noopener noreferrer" title="Facebook">
          <svg class="socials-icon bottom-icons" width="100%" height="100%">
            <use href="../../img/icons-sprite.svg#fb"></use>
          </svg>
        </a>
      </li>
    </ul>
  </li>
</ul>
