<div class="form-container" data-aos="fade-down" data-aos-offset="100" data-aos-easing="cubic-bezier(0.4, 0, 0.2, 1)">
  <h1 class="form-title">Do you have any questions?</h1>
  <p class="form-descr">You can leave your questions here and our manager will call you back within 10 minutes</p>
  <form class="bottom-form">
    <input class="form-fields" type="text" name="name" placeholder="Your name*" required/>
    <input class="form-fields" type="tel" name="tel" placeholder="Phone number*" required/>
    <input class="form-fields" type="text" name="query" placeholder="What would you like to know?" />
    <button type="submit" class="btn-primary bottom-form-btn" data-aos="zoom-in" data-aos-offset="100" data-aos-easing="cubic-bezier(0.4, 0, 0.2, 1)">CALL ME</button>
  </form>
</div>
