<section class="hero section">
  <div class="hero-box">
    <h2 class="hero-title">TOURS TO THE CARPATHIANS FROM LVIV</h2>
    <h2 class="hero-subtitle">Journeys to the very heart of the Carpathians for those who want a real reboot</h2>
    <button class="btn-primary"  type="button" data-aos="zoom-in" data-aos-offset="100" data-aos-easing="cubic-bezier(0.4, 0, 0.2, 1)"  data-fancybox data-src="#book-a-tour">
      BOOK A TOUR
    </button>
    <load="partials/hero/link-bar.html" />
  </div>
</section>
