<ul class="link-bar">
  <li>
    <a href="/" target="_blank" rel="noopener noreferrer" title="Telegram">
      <img class="link-bar_icon" src="./img/telegram.svg" alt="telegram link" width="40"/>
    </a>
  </li>
  <li>
    <a href="/" target="_blank" rel="noopener noreferrer" title="Instagram">
      <img class="link-bar_icon" src="./img/insta.svg" alt="instagram link" width="40"/>
    </a>
  </li>
  <li>
    <a href="/" target="_blank" rel="noopener noreferrer" title="Facebook">
      <img class="link-bar_icon" src="./img/fb.svg" alt="facebook link" width="40"/>
    </a>
  </li>
</ul>
