<div id="book-a-tour"  class="book-a-tour">
  <h1 class="modal-title">Book a tour</h1>
  <p class="modal-deskr">
    You can leave your application here and our manager will call you
    within 10 minutes
  </p>
  <form class="modal-form" id="modal-form">
    <input
      class="form-fields"
      type="text"
      name="name"
      placeholder="Your name*"
      autocomplete="off"
      required
    />
    <input
      class="form-fields"
      type="tel"
      name="phoneNumber"
      pattern="^\+?\d*$" 
      placeholder="Phone number*"
      autocomplete="off"
      required
    />
    <label class="modal-options-label" data-checkboxes
      >Ascent to Hoverla
      <input type="checkbox" name="hoverla" />
      <span class="checkmark"></span
    ></label>
    <label class="modal-options-label" data-checkboxes
      >Ski tour to Bukovel
      <input type="checkbox" name="skiBukovel" />
      <span class="checkmark"></span
    ></label>
    <label class="modal-options-label" data-checkboxes
      >Week in Carpathians
      <input type="checkbox" name="weekInCarpatians" />
      <span class="checkmark"></span
    ></label>
    <button class="btn-primary modal-btn" type="submit">CALL ME</button>
  </form>
</div>
