<div id="tour-2" class="tour">
  <div class="tour-container modal-slider">
    <div class="tour-slide">
      <picture >
        <source
          media="(min-width: 1440px) "
          srcset="
            ./img/photos/tour2/dsk/Rectangle-67tour2-dsk.jpg    1x,
            ./img/photos/tour2/dsk/Rectangle-67tour2-dsk@2x.jpg 2x
          "
          type="image/jpeg"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./img/photos/tour2/tabl/Rectangle85.jpg    1x,
            ./img/photos/tour2/tabl/Rectangle85@2x.jpg 2x
          "
          type="image/jpeg"
        />
        <source
          media="(max-width: 767px)"
          srcset="
            ./img/photos/tour2/sm/Rectangle74.jpg    1x,
            ./img/photos/tour2/sm/Rectangle74@2x.jpg 2x
          "
          type="image/jpeg"
        />
        <img loading="lazy" class="tour-card-bg"
          src="./img/photos/tour2/dsk/Rectangle-67tour2-dsk@2x.jpg"
          type="image/jpeg"
          alt="mountain species"
        />
      </picture>

      <h2 class="tours-title">Ski tour to Bukovel</h2>
      <span class="tour-stripe">
        <span class="tour-days">1 day</span>
      </span>
      <ul class="tour-schedule-list">
        <li>Departure from Lviv</li>
        <li>Manyava Hermitage</li>
        <li>Manyava waterfall</li>
        <li>Arrival to Bukovel</li>
        <li>Check-in</li>
        <li>Dinner</li>
        <li>Evening by the fireplace</li>
      </ul>
    </div>

    <div class="tour-slide">
      <picture >
        <source
          media="(min-width: 1440px) "
          srcset="
            ./img/photos/tour2/dsk/Rectangle-68tour2-dsk.jpg    1x,
            ./img/photos/tour2/dsk/Rectangle-68tour2-dsk@2x.jpg 2x
          "
          type="image/jpeg"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./img/photos/tour2/tabl/Rectangle86.jpg    1x,
            ./img/photos/tour2/tabl/Rectangle86@2x.jpg 2x
          "
          type="image/jpeg"
        />
        <source
          media="(max-width: 767px)"
          srcset="
            ./img/photos/tour2/sm/overlay.jpg    1x,
            ./img/photos/tour2/sm/overlay@2x.jpg 2x
          "
          type="image/jpeg"
        />
        <img loading="lazy" class="tour-card-bg"
          src="./img/photos/tour2/dsk/Rectangle-68tour2-dsk@2x.jpg"
          type="image/jpeg"
          alt="mountain species"
        />
      </picture>

      <h2 class="tours-title">Ski tour to Bukovel</h2>
      <span class="tour-stripe">
        <span class="tour-days">2 day</span>
      </span>
      <ul class="tour-schedule-list">
        <li>Breakfast</li>
        <li>Recreation</li>
        <li>Lunch</li>
        <li>Recreation</li>
        <li>Dinner</li>
        <li>Vacation</li>
      </ul>
    </div>

    <div class="tour-slide">
      <picture >
        <source
          media="(min-width: 1440px) "
          srcset="
            ./img/photos/tour2/dsk/Rectangle-69tour2-dsk.jpg    1x,
            ./img/photos/tour2/dsk/Rectangle-69tour2-dsk@2x.jpg 2x
          "
          type="image/jpeg"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./img/photos/tour2/tabl/Rectangle87.jpg    1x,
            ./img/photos/tour2/tabl/Rectangle87@2x.jpg 2x
          "
          type="image/jpeg"
        />
        <source
          media="(max-width: 767px)"
          srcset="
            ./img/photos/tour2/sm/overlay1.jpg    1x,
            ./img/photos/tour2/sm/overlay1@2x.jpg 2x
          "
          type="image/jpeg"
        />
        <img loading="lazy" class="tour-card-bg"
          src="./img/photos/tour2/dsk/Rectangle-69tour2-dsk@2x.jpg"
          type="image/jpeg"
          alt="mountain species"
        />
      </picture>

      <h2 class="tours-title">Ski tour to Bukovel</h2>
      <span class="tour-stripe">
        <span class="tour-days">3 day</span>
      </span>
      <ul class="tour-schedule-list">
        <li>Breakfast</li>
        <li>A walk around Bukovel</li>
        <li>Dinner</li>
        <li>Recreation</li>
        <li>Sauna</li>
        <li>Dinner</li>
      </ul>
    </div>
    <div class="tour-slide">
      <picture>
        <source
          media="(min-width: 1440px) "
          srcset="
            ./img/photos/tour2/dsk/Rectangle-72tour2-dsk.jpg    1x,
            ./img/photos/tour2/dsk/Rectangle-72tour2-dsk@2x.jpg 2x
          "
          type="image/jpeg"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./img/photos/tour2/tabl/Rectangle88.jpg    1x,
            ./img/photos/tour2/tabl/Rectangle88@2x.jpg 2x
          "
          type="image/jpeg"
        />
        <source
          media="(max-width: 767px)"
          srcset="
            ./img/photos/tour2/sm/overlay2.jpg    1x,
            ./img/photos/tour2/sm/overlay2@2x.jpg 2x
          "
          type="image/jpeg"
        />
        <img loading="lazy"  class="tour-card-bg"
          src="./img/photos/tour2/dsk/Rectangle-72tour2-dsk@2x.jpg"
          type="image/jpeg"
          alt="mountain species"
        />
      </picture>

    
      <h2 class="tours-title">Ski tour to Bukovel</h2>
      <span class="tour-stripe">
        <span class="tour-days">4 day</span>
      </span>
      <ul class="tour-schedule-list">
        <li>Breakfast</li>
        <li>Recreation</li>
        <li>Dinner</li>
        <li>Departure from Bukovel</li>
        <li>Arrival in Lviv</li>
      </ul>
    </div>
  </div>

  <div class="tour-bottom-container">
    <p class="tour-price">UAH 7,499/person</p>
    <button class="btn-primary" data-fancybox="modal" data-src="#book-a-tour">
      BOOK A TOUR
    </button>
  </div>
</div>
