<div id="tour-1" class="tour">
  <div class="tour-container modal-slider">
    <div class="tour-slide">
      <picture >
        <source
          media="(min-width: 1440px) "
          srcset="
            ./img/photos/tour1/dsk/Rectangle-57t1-dsk.jpg    1x,
            ./img/photos/tour1/dsk/Rectangle-57t1-dsk@2x.jpg 2x
          "
          type="image/jpeg"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./img/photos/tour1/tabl/Rectangle82.jpg    1x,
            ./img/photos/tour1/tabl/Rectangle82@2x.jpg 2x
          "
          type="image/jpeg"
        />
        <source
          media="(max-width: 767px)"
          srcset="
            ./img/photos/tour1/sm/Rectangle73.jpg    1x,
            ./img/photos/tour1/sm/Rectangle73@2x.jpg 2x
          "
          type="image/jpeg"
        />
        <img  class="tour-card-bg"
          src="./img/photos/tour1/dsk/Rectangle-57t1-dsk@2x.jpg"
          type="image/jpeg"
          alt="mountain species"
        />
      </picture>
      <h2 class="tours-title">Ascent to Hoverla</h2>
      <span class="tour-stripe">
        <span class="tour-days">1 day</span>
      </span>
      <ul class="tour-schedule-list">
        <li>Departure from Lviv</li>
        <li>Manyava Hermitage</li>
        <li>Manyava waterfall</li>
        <li>Arrival to Bukovel</li>
        <li>Check-in</li>
        <li>Dinner</li>
        <li>Evening by the fireplace</li>
      </ul>
    </div>

    <div class="tour-slide">
      <picture >
        <source
          media="(min-width: 1440px) "
          srcset="
            ./img/photos/tour1/dsk/Rectangle-65t1-dsk.jpg    1x,
            ./img/photos/tour1/dsk/Rectangle-65t1-dsk@2x.jpg 2x
          "
          type="image/jpeg"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./img/photos/tour1/tabl/Rectangle83.jpg        1x,
            ./img/photos/tour1/tabl/Rectangle83@2x.jpg 2x
          "
          type="image/jpeg"
        />
        <source
          media="(max-width: 767px)"
          srcset="
            ./img/photos/tour1/sm/overlay.jpg    1x,
            ./img/photos/tour1/sm/overlay@2x.jpg 2x
          "
          type="image/jpeg"
        />
        <img  class="tour-card-bg"
          src="./img/photos/tour1/dsk/Rectangle-65t1-dsk@2x.jpg"
          type="image/jpeg"
          alt="mountain species"
        />
      </picture>

      <h2 class="tours-title">Ascent to Hoverla</h2>
      <span class="tour-stripe">
        <span class="tour-days">2 day</span>
      </span>
      <ul class="tour-schedule-list">
        <li>Breakfast</li>
        <li>Ascent to Hoverla</li>
        <li>Dinne</li>
        <li>Recreation</li>
        <li>Check-in</li>
        <li>Sauna</li>
        <li>Dinner</li>
      </ul>
    </div>

    <div class="tour-slide">
      <picture >
        <source
          media="(min-width: 1440px) "
          srcset="
            ./img/photos/tour1/dsk/Rectangle-66t1-dsk.jpg    1x,
            ./img/photos/tour1/dsk/Rectangle-66t1-dsk@2x.jpg 2x
          "
          type="image/jpeg"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./img/photos/tour1/tabl/Rectangle84.jpg        1x,
            ./img/photos/tour1/tabl/Rectangle84@2x.jpg 2x
          "
          type="image/jpeg"
        />
        <source
          media="(max-width: 767px)"
          srcset="
            ./img/photos/tour1/sm/Rectangle57.jpg    1x,
            ./img/photos/tour1/sm/Rectangle57@2x.jpg 2x
          "
          type="image/jpeg"
        />
        <img  class="tour-card-bg"
          src="./img/photos/tour1/dsk/Rectangle-66t1-dsk@2x.jpg"
          type="image/jpeg"
          alt="mountain species"
        />
      </picture>

      <h2 class="tours-title">Ascent to Hoverla</h2>
      <span class="tour-stripe">
        <span class="tour-days">3 day</span>
      </span>
      <ul class="tour-schedule-list">
        <li>Breakfast</li>
        <li>A walk around Bukovel</li>
        <li>Check out from the hotel</li>
        <li>Yaremche</li>
        <li>Arrival in Lviv</li>
      </ul>
      <div class="dots-container"></div>
    </div>
  </div>

  <div class="tour-bottom-container">
    <p class="tour-price">UAH 4,499/person</p>
    <button class="btn-primary" data-fancybox="modal" data-src="#book-a-tour">
      BOOK A TOUR
    </button>
  </div>
</div>
