<div id="tour-3" class="tour">

  <div class="tour-container modal-slider">

          <div class="tour-slide">
            <img
            class="tour-card-bg"

            src="./img/photos/tour3/dsk/Rectangle-70tour3-dsk@2x.jpg"
            srcset="./img/photos/tour3/dsk/Rectangle-70tour3-dsk.jpg 1x, ./img/photos/tour3/dsk/Rectangle-70tour3-dsk@2x.jpg 2x"
            alt="mountain species"
          />
            <h2 class="tours-title">Week in Carpathians</h2>
            <span class="tour-stripe">
              <span class="tour-days">1 day</span>
            </span>
            <ul class="tour-schedule-list">
              <li>Departure from Lviv</li>
              <li>Dovbush rocks</li>
              <li>Lunch</li>
              <li>Tustan forttress</li>
              <li>Check-in</li>
              <li>Dinner</li>
            </ul>
          </div>

          <div class="tour-slide">
            <img
            class="tour-card-bg"
            src="./img/photos/tour3/dsk/Rectangle-71tour3-dsk@2x.jpg"
            srcset="./img/photos/tour3/dsk/Rectangle-71tour3-dsk.jpg 1x, ./img/photos/tour3/dsk/Rectangle-71tour3-dsk@2x.jpg 2x"
            alt="mountain species"
          />
            <h2 class="tours-title">Week in Carpathians</h2>
            <span class="tour-stripe">
              <span class="tour-days">2 day</span>
            </span>
            <ul class="tour-schedule-list">
              <li>Breakfast</li>
              <li>Lake Synevyr</li>
              <li>Ecopark “Valley of Wolves”</li>
              <li>Lunch</li>
              <li>Excursion to Kolochava</li>
              <li>Dinner</li>
            </ul>
          </div>

          <div class="tour-slide">
            <img
            class="tour-card-bg"
            src="./img/photos/tour3/dsk/3.3tour3-dsk@2x.jpg"
            srcset="./img/photos/tour3/dsk/3.3tour3-dsk.jpg 1x, ./img/photos/tour3/dsk/3.3tour3-dsk@2x.jpg 2x"
            alt="mountain species"
          />
            <h2 class="tours-title">Week in Carpathians</h2>
            <span class="tour-stripe">
              <span class="tour-days">3 day</span>
            </span>
            <ul class="tour-schedule-list">
              <li>Breakfast</li>
              <li>Shipit waterfall</li>
              <li>Gimba mountain</li>
              <li>Recreation</li>
              <li>Dinner</li>
            </ul>
          </div>

          <div class="tour-slide">
            <img
            class="tour-card-bg"
            src="./img/photos/tour3/dsk/3.4tour3-dsk@2x.jpg"
            srcset="./img/photos/tour3/dsk/3.4tour3-dsk.jpg 1x, ./img/photos/tour3/dsk/3.4tour3-dsk@2x.jpg 2x"
            alt="mountain species"
          />
            <h2 class="tours-title">Week in Carpathians</h2>
            <span class="tour-stripe">
              <span class="tour-days">4 day</span>
            </span>
            <ul class="tour-schedule-list">
              <li>Breakfast</li>
              <li>Deer farm in Iza</li>
              <li>Warm waters in Velyatino</li>
              <li>Geographical center of Europe</li>
              <li>Dinner</li>
            </ul>
          </div>

          <div class="tour-slide">
            <img
            class="tour-card-bg"
            src="./img/photos/tour3/dsk/3.5tour3-dsk@2x.jpg"
            srcset="./img/photos/tour3/dsk/3.5tour3-dsk.jpg 1x, ./img/photos/tour3/dsk/3.5tour3-dsk@2x.jpg 2x"
            alt="mountain species"
          />
            <h2 class="tours-title">Week in Carpathians</h2>
            <span class="tour-stripe">
              <span class="tour-days">5 day</span>
            </span>
            <ul class="tour-schedule-list">
              <li>Breakfast</li>
              <li>Ascent to Hoverla</li>
              <li>Recreation</li>
              <li>Dinner</li>
            </ul>
          </div>

          <div class="tour-slide">
            <img
            class="tour-card-bg"
            src="./img/photos/tour3/dsk/3.6tour3-dsk@2x.jpg"
            srcset="./img/photos/tour3/dsk/3.6tour3-dsk.jpg 1x, ./img/photos/tour3/dsk/3.6tour3-dsk@2x.jpg 2x"
            alt="mountain species"
          />
            <h2 class="tours-title">Week in Carpathians</h2>
            <span class="tour-stripe">
              <span class="tour-days">6 day</span>
            </span>
            <ul class="tour-schedule-list">
              <li>Breakfast</li>
              <li>Hut-museum from the "Shadows <br/> of Forgotten Ancestors"</li>
              <li>Lunch</li>
              <li>Rating of free time</li>
              <li>Dinner</li>
            </ul>
          </div>

          <div class="tour-slide">
            <img
            class="tour-card-bg"
            src="./img/photos/tour3/dsk/3.7tour3-dsk@2x.jpg"
            srcset="./img/photos/tour3/dsk/3.7tour3-dsk.jpg 1x, ./img/photos/tour3/dsk/3.7tour3-dsk@2x.jpg 2x"
            alt="mountain species"
          />
            <h2 class="tours-title">Week in Carpathians</h2>
            <span class="tour-stripe">
              <span class="tour-days">7 day</span>
            </span>
            <ul class="tour-schedule-list">
              <li>Breakfast</li>
              <li>Dovbush trail</li>
              <li>Souvenir fair</li>
              <li>Lunch</li>
              <li>Probij waterfall</li>
              <li>Return to Lviv</li>
            </ul>
          </div>

  </div>

  <div class="tour-bottom-container">
          <p class="tour-price">UAH 9,999/person</p>
          <button
            class="btn-primary"
            data-fancybox="modal"
            data-src="#book-a-tour"
          >
            BOOK A TOUR
          </button>
  </div>
      
</div>