<section class="section advantages">
    <load="partials/advantages/bg-gallery.html" />
    <h2 class="section-title">Our advantages</h2>
    <ul class="advantages-list">
        <li data-aos="fade-down" data-aos-offset="100" data-aos-easing="cubic-bezier(0.4, 0, 0.2, 1)" data-aos-delay="0">author's tours</li>
        <li data-aos="fade-down" data-aos-offset="100" data-aos-easing="cubic-bezier(0.4, 0, 0.2, 1)" data-aos-delay="30">individual approach</li>
        <li data-aos="fade-down" data-aos-offset="100" data-aos-easing="cubic-bezier(0.4, 0, 0.2, 1)" data-aos-delay="60">affordable prices</li>
        <li data-aos="fade-down" data-aos-offset="100" data-aos-easing="cubic-bezier(0.4, 0, 0.2, 1)" data-aos-delay="90">comfortable transfe</li>
        <li data-aos="fade-down" data-aos-offset="100" data-aos-easing="cubic-bezier(0.4, 0, 0.2, 1)" data-aos-delay="120">professional guides</li>
        <li data-aos="fade-down" data-aos-offset="100" data-aos-easing="cubic-bezier(0.4, 0, 0.2, 1)" data-aos-delay="150">accommodation in hotels from 3+ *</li>
    </ul>

</section>