.form {
  height: 1074px;

  background-color: darkgray;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Montserrat;

  background-color: #565554;
  background-image: image-set(
    url('../assets/photos/bottom-form/image_3_bottom-form-dsk.jpg') 1x,
    url('../assets/photos/bottom-form/image_3_bottom-form-dsk@2x.jpg') 2x
  );
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.form-container {
  width: 774px;
  background: var(--LightText);
  padding: 60px 46px;
  color: var(--primary-text);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.form-title {
  font-size: 48px;
  font-weight: 500;
  margin-bottom: 32px;
  text-align: center;
}
.form-descr {
  font-size: 20px;
  font-weight: 400;
  color: var(--secondary-text);
  margin: 0 auto 36px auto;
  width: 502px;
  text-align: center;
}
.bottom-form {
  width: 100%;
  padding: 0 53px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-fields {
  outline: none;
  border: none;

  font-size: 24px;
  font-weight: 400;
  color: var(--secondary-text);

  background: transparent;
  cursor: pointer;
  padding: 8px 10px;
  border-bottom: 1px solid #a3a5a3;
}

.form-fields::placeholder {
  font-family: inherit;
  font-size: 24px;
  font-weight: 400;
  color: var(--secondary-text);
}
.bottom-form-btn {
  width: 100%;
  margin-top: 44px;
}
