.gallery {
  overflow: hidden;
  max-width: 100%;
}

.gallery-list {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 330px;
}

.gallery-item {
  overflow: hidden;
  margin: 0 10px;

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.4s ease;
}
.gallery-item > a {
  width: 280px;
  width: 100%;
}
.gallery-item:hover {
  transform: scale(0.95);
}
/* Controls */
.slider-arrows {
  width: 140px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 40px auto 80px auto;
}
.slider-arrow {
  padding: 10px;
  width: 60px;
  height: 60px;

  cursor: pointer;
  fill: #a3a5a3;
  transition: fill var(--base-transition);
}
.left {
  rotate: 180deg;
}
.slider-arrow:hover {
  fill: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .gallery {
    max-width: 768px;
  }
  .gallery-item{
    width: 100%;
  }

  .gallery-list {
    width: 100%;
  }
}
@media screen and (min-width: 1440px) {
  .gallery {
    max-width: 1440px;
  }

  .gallery-item {
    width: 575px;
    height: 445px;
  }
}
