.upcoming-card-list {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0 auto

}
.upcoming-card {
  border: 1px solid var(--accent-color);
  margin: 0 10px;
  width: 100%;
  color: var(--primary-text);
  font-size: 20px;
  font-weight: 600;
}

.upcoming-card > img {
  height: 438px;
  width: 100%;
}

.card-bottom-container {
  border-top: 1px solid var(--accent-color);
  padding: 44px 20px 48px 20px;
}

.card-descr {
  color: var(--secondary-text);
  font-size: 24px;
  margin: 20px 0 36px 0;
}

.btn-card {
  width: 100%;
  padding: 20px 75px;
}

.slider-arrows-tourcards {
  width: 140px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 24px auto 52px auto;
}
.slider-arrow {
  padding: 10px;
  width: 60px;
  height: 60px;

  cursor: pointer;
  fill: #a3a5a3;
  transition: fill var(--base-transition);
}
.prev {
  rotate: 180deg;
}

.slider-arrow:hover {
  fill: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .upcoming-card-list {
    width: 728px;
  }
  .slider-arrows-tourcards {
    margin: 32px auto 80px auto;
  }

  .upcoming-card {
    width: calc(50% - 10px);
    font-size: 24px;
  }
}

@media screen and (min-width: 1440px) {
  .upcoming-card-list {
    width: 1170px;
  }
  .upcoming-card {
    width: calc(33% - 10px);
    font-size: 28px;
  }
  .slider-arrows-tourcards {
    display: none;
  }
}
