<ul class="review-list">
  <li class="review-card" data-aos="fade-left" data-aos-offset="100" data-aos-easing="cubic-bezier(0.4, 0, 0.2, 1)" data-aos-delay="0">
    <div class="review-card-front">
      <img class="card-bg" src="../../img/photos/user-cards/user-card-top-bg.jpg" alt=" nice background" />
      <div class="user-bar">
        <img class="user-photo" src="../../img/photos/user-cards/marina.jpg" alt="reviewer-photo" />
        <h3 class="user-name">Maria</h3>
      </div>
      <p class="user-review">
        It was really cool! We saw everything - sun, snow, rain, fog! It's very exciting and interesting, you won't regret it - it's worth
        going and seeing everything with your own eyes. Everything is organized at the highest level.
      </p>
    </div>
    <div class="review-card-back">
      <img
      alt="Background image Mountain Views"
      src="../../img/photo/user-cards/62user-back-card-dsk@2x.jpg"
      srcset="
        ../../img/photos/user-cards/62user-back-card-dsk.jpg     1x,
        ../../img/photos/user-cards/62user-back-card-dsk@2x.jpg 2x
      "
    />
    </div>
  </li>
  <li class="review-card" data-aos="fade-left" data-aos-offset="100" data-aos-easing="cubic-bezier(0.4, 0, 0.2, 1)" data-aos-delay="100">
    <div class="review-card-front">
      <img class="card-bg" src="../../img/photos/user-cards/user-card-top-bg.jpg" alt=" nice background" />
      <div class="user-bar">
        <img class="user-photo" src="../../img/photos/user-cards/ostap.jpg" alt="reviewer-photo" />
        <h3 class="user-name">Ostap</h3>
      </div>
      <p class="user-review">
        Good organization, everything went smoothly. Friendly guide Taras told interesting facts about the area and customs throughout the
        tour.
      </p>
    </div>
    <div class="review-card-back">
      <img
      alt="Background image Mountain Views"
      src="../../img/photo/user-cards/63user-back-card-dsk@2x.jpg"
      srcset="
        ../../img/photos/user-cards/63user-back-card-dsk.jpg     1x,
        ../../img/photos/user-cards/63user-back-card-dsk@2x.jpg 2x
      "
    />
    </div>
  </li>
  <li class="review-card" data-aos="fade-left" data-aos-offset="100" data-aos-easing="cubic-bezier(0.4, 0, 0.2, 1)" data-aos-delay="150">
    <div class="review-card-front">
      <img class="card-bg" src="../../img/photos/user-cards/user-card-top-bg.jpg" alt=" nice background" />
      <div class="user-bar">
        <img class="user-photo" src="../../img/photos/user-cards/anita.jpg" alt="reviewer-photo" />
        <h3 class="user-name">Anita</h3>
      </div>
      <p class="user-review">
        Who is going to the mountains for the first time - this is exactly the tour and the people who organize everything. Guide Makar is
        interesting stories, selection of a route for a comfortable ascent, motivation and support.
      </p>
    </div>
    <div class="review-card-back">
      <img
      alt="Background image Mountain Views"
      src="../../img/photo/user-cards/64user-back-card-dsk@2x.jpg"
      srcset="
        ../../img/photos/user-cards/64user-back-card-dsk.jpg     1x,
        ../../img/photos/user-cards/64user-back-card-dsk@2x.jpg 2x
      "
    />
    </div>
  </li>
</ul>
