<div class="upcoming-card-list">
  <div class="upcoming-card " data-aos="fade-right"  data-aos-delay="0">
    <img
      alt="Background image Mountain Views"
      src="./img/photo/upcoming/overlayupcoming1@2x.jpg"
      srcset="./img/photos/upcoming/overlayupcoming1.jpg 1x, ./img/photos/upcoming/overlayupcoming1@2x.jpg 2x"
    />

    <div class="card-bottom-container">
      <h3 class="card-title">Ascent to Hoverla</h3>
      <p class="card-descr">From UAH 4,499/person</p>
      <button type="button" class="btn-primary btn-card" data-aos="zoom-in" data-aos-easing="cubic-bezier(0.4, 0, 0.2, 1)" data-fancybox  data-src="#tour-1">
        MORE DETAILS
      </button>
    </div>
  </div>
  <div class="upcoming-card " data-aos="fade-right"  data-aos-delay="100">
    <img
    alt="Background image Mountain Views"
    src="./img/photo/upcoming/overlayupcoming2@2x.jpg"
    srcset="./img/photos/upcoming/overlayupcoming2.jpg 1x, ./img/photos/upcoming/overlayupcoming2@2x.jpg 2x"
  />
    <div class="card-bottom-container">
      <h3 class="card-title">Ski tour to Bukovel</h3>
      <p class="card-descr">From UAH 7,499/person</p>
      <button type="button" class="btn-primary btn-card" data-aos="zoom-in" data-aos-easing="cubic-bezier(0.4, 0, 0.2, 1)" data-fancybox  data-src="#tour-2">
        MORE DETAILS
      </button>
    </div>
  </div>
  <div class="upcoming-card " data-aos="fade-right"  data-aos-delay="150">
    <img
    alt="Background image Mountain Views"
    src="./img/photo/upcoming/overlayupcoming3@2x.jpg"
    srcset="./img/photos/upcoming/overlayupcoming3.jpg 1x, ./img/photos/upcoming/overlayupcoming3@2x.jpg 2x"
  />
    <div class="card-bottom-container">
      <h3 class="card-title">Week in Carpathians</h3>
      <p class="card-descr">From UAH 9,999/person</p>
      <button type="button" class="btn-primary btn-card" data-aos="zoom-in" data-aos-easing="cubic-bezier(0.4, 0, 0.2, 1)" data-fancybox  data-src="#tour-3">
        MORE DETAILS
      </button>
    </div>
  </div>
</div>
