<section class="section upcoming-tours" id="tours">
    <h2 class="section-title">Upcoming tours</h2>
    <load="partials/upcoming-tours/upcoming-cards.html" />
    <div class="slider-arrows-tourcards">
        <div class="slider-arrow  prev">
          <svg width="40" height="40" viewBox="0 0 40 40">
            <use href="/mountain-tours/icons-sprite.svg#slick-arrow"></use>
          </svg>
        </div>
        <div class="slider-arrow  next">
          <svg width="40" height="40" viewBox="0 0 40 40">
            <use href="/mountain-tours/icons-sprite.svg#slick-arrow"></use>
          </svg>
        </div>
      </div>
</section>